.todo-header input{
  width: 400px;
  height: 28px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
}

.todo-header input:focus {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);
}

